@import url(./reset.css);

/* 以下幾份html使用此份css */
/* index.html */




/* 熱門分類 */

.hotType {
    padding-top: 69px;
}

.newTitle {

    /* outline: 2px red solid; */
    background-image: url(../pics/首頁/New\ Arrivals.png);
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: 60%; */
    background-position: center;
    height: 112px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
    border-bottom: #229162 4px solid;
    margin-bottom: 50px;
    display: none;
}

.newTitle h2 {
    display: inline-block;
    color: #229162;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    /* outline: 2px green solid; */
    position: absolute;
    right: 30%;
    bottom: 0%;
}


.hotType a {
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

.hotType ul {
    height: 500px;
    margin: 0 auto;
    /* outline: 5px solid #fff; */
    display: flex;
    overflow: hidden;

}

.hotType li {
    background-size: cover;
    background-position: center center;
    transition: 0.25s;
    position: relative;
    opacity: 1;

}

.hotType h3 {
    font-size: 28px;
    letter-spacing: 5px;
    color: #fff;
    height: 15%;
    background-color: black;
    background: linear-gradient(#000, rgba(0, 0, 0, 0));
    transition: 0.7s;
    flex-shrink: 0;
    /* border: 1px solid #fff; */
    text-align: center;
    opacity: 0;
}


.hotType p{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    height: 24px;
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0), #000);
    transition: 0.7s;
    flex-shrink: 0;
    /* border: 1px solid #fff; */
    text-align: center;
    opacity: 0;
}


.hotType .item1 {
    background-image: url(../pics/首頁/犯人在跳舞大圖1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    flex-grow: 2;
}

.hotType .item2 {
    background-image: url(../pics/首頁/電車難題.webp);
    background-position: center center;
    background-size: cover;
    flex-grow: 2;
}

.hotType .item3 {
    background-image: url(../pics/首頁/玖陣王國.jpg);
    background-position: center center;
    background-size: cover;
    flex-grow: 2;
}

.hotType .item4 {
    background-image: url(../pics/首頁/字字轉機.webp);
    background-position: center center;
    background-size: cover;
    flex-grow: 2;
}

.hotType .item5 {
    background-image: url(../pics/首頁/機密大圖.jpg);
    background-position: center center;
    background-size: cover;
    flex-grow: 2;
}

.hotType .item6 {
    background-image: url(../pics/首頁/rootNEW.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 2;
}

.hotType .item7 {
    background-image: url(../pics/首頁/情書大圖.jpg);
    background-position: center center;
    background-size: cover;
    flex-grow: 2;
}



.hotType li:hover {
    flex-grow: 5;
}



.hotType li:hover h3 {
    opacity: 1;
    transition: 0.25s;
}

.hotType li:hover p {
    opacity: 1;
    transition: 0.25s;
}

/* banner */

.events {
    max-width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    /* margin-bottom: 20px; */
}

.eventTitle {
    max-width: 1440px;
    /* outline: 2px red solid; */
    background-image: url(../pics/首頁/Events.png);
    background-repeat: no-repeat;
    /* background-size: 60%; */
    background-position: center;
    height: 112px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
    border-bottom: #229162 4px solid;
}

.eventTitle h2 {
    display: inline-block;
    color: #229162;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    /* outline: 2px green solid; */
    position: absolute;
    right: 30%;
    bottom: 0%;
}


.bannerSet {
    /* display: flex; */
    position: relative;
    /* outline: red 2px solid; */
    perspective: 1300px;
    /* overflow: hidden; */
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
}

.bannerSet a {
    display: inline-block;
    text-decoration: none;
    /* height: 500px; */
    perspective: 1300px;
    /* outline: 2px red solid; */
    margin: 0 auto;
    border-radius: 20px;
}

.bannerSet img{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    height: 500px;
    /* position: absolute;
    top: 0;
    left: 0;
     */
}

.banner{
    position: absolute;
    left: 18%;
    top: 0;
    transition: 1s;
    border-radius: 20px;
}


.b0{
    transform: translate3d(0px, 0px, 0px);
    z-index: 40;
}

.b1{
    transform: translate3d(-469px, 50px, -500px);
    z-index: 30;
}

.b2{
    transform: translate3d(0px, 0px, -3200px);
    z-index: -10;
}

.b3{
    transform: translate3d(469px, 50px, -500px);
    z-index: 30;
}

.button {
    padding: 15px 15px;
    border-radius: 12px;
    display: inline-block;
    font-size: 3rem;
    cursor: pointer;
    color: #FFF;
    background-color: #22916334;
    /* box-shadow: 0px 9px #999; */
    transition-duration: 0.4s;
}

.lbtn{
    position: absolute;
    left: 0px;
    top: 200px;
    z-index: 50;
}

.rbtn{
    position: absolute;
    right: 0px;
    top: 200px;
    z-index: 50;
}

/* 加入我們 */

.JoinUS {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.joinTitle {
    max-width: 1440px;
    /* outline: 2px red solid; */
    background-image: url(../pics/首頁/Join\ us.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 112px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
    border-bottom: #229162 4px solid;
}

.joinTitle h2 {
    display: inline-block;
    color: #229162;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    /* outline: 2px green solid; */
    position: absolute;
    right: 30%;
    bottom: 0%;
}

.JnB {
    padding-top: 80px;
}

.leftJoin {
    background-image: url(../pics/首頁/犯人在跳舞一起玩.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 60%;
    height: 500px;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.rightBooking {
    background-image: url(../pics/首頁/BookingBGI.jpg);
    background-size: cover;
    width: 60%;
    height: 500px;
    position: relative;
    z-index: 1;
    margin: 0 0 0 auto;

}

.joinBox {
    position: absolute;
    right: -40%;
    top: -50px;
}

.bookBox {
    position: absolute;
    left: -40%;
    top: -50px;
}

.textBox {
    background-color: #fff;
    width: 50%;
    height: 440px;
    padding: 50px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textBox h2 {
    font-size: 32px;
    font-weight: bold;
    color: #828282;
    line-height: 1.6;
}

.textBox p {
    font-size: 20px;
    line-height: 1.6;
}

.textBox a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 60%;
    height: 50px;
    /* outline: red 1px solid; */
    border-radius: 25px;
    margin: 0 auto;
    background-color: #229162;
}


.textBox a:hover {
    background-color: #333;
    color: #fff;
}

/* 熱門討論 */

.hotGames {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hotTitle {

    /* outline: 2px red solid; */
    background-image: url(../pics/首頁/Whats\ Popular.png);
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: 60%; */
    background-position: center;
    height: 112px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
    border-bottom: #229162 4px solid;
    margin-bottom: 50px;
}

.hotTitle h2 {
    display: inline-block;
    color: #229162;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    /* outline: 2px green solid; */
    position: absolute;
    right: 30%;
    bottom: 0%;
}

.postCard {

    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* outline: 1px red solid; */
    margin-bottom: 20px;
}

.postCard>li {
    width: 30%;
    /* height: 10%; */
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
}

.dance {
    background-image: url(../pics/首頁/犯人在跳舞.png);
}

.postCard .incep {
    background-image: url(../pics/首頁/inception111.png);
    background-size: cover;
    background-position: center center;
}

.Wwof {
    background-image: url(../pics/首頁/狼殺.jpg);
}

.dato {
    display: flex;
    /* outline: 1px red solid; */
}


.PnN {
    width: 25%;
    /* display: flex; */
    /* outline: red 1px solid; */
 
}



.pplInfo {
    align-self: left;
    margin-left: 20px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-content: center; */
}

.thisGameTag{
    /* outline: red 1px solid; */

    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    align-content: center;
    color: #fff;
    background-color: #FF6161;
    border-radius: 20px;
    margin-bottom: 10px;
}


.pplInfo h4 {
    /* outline: 1px red solid; */
    font-size: 24px;
    /* margin-left: 30px; */
    align-self: center;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.pplSay{
    display: block;
    background-color: #fff;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px black;
    line-height: 1.2;
}

.timeInfo {
    width: 95%;
    /* outline: 1px red solid; */
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.timeInfo p {
    margin-bottom: 10px;
}

.scoreStar i{
    font-size: 12px;
    color: #FFDD55;
    margin-left: 20px;
}

.thisGameScore{
    display: inline-block;
    color: #4F4F4F;
    margin-left: 5px;
    font-size: 12px;
}



.PnN img {
    display: block;
    border-radius: 50%;
    width: 100px;
}

.fliter>p {
    display: block;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px black;
    line-height: 1.2;
}


.fliter {
    display: block;
    background-color: rgba(255, 255, 255, .90);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    height: 93%;
}

.fliter:hover {
    outline: 3px solid #229162;
}

.rMore {
    display: block;
    text-align: right;
    color: black;
    /* text-decoration: none; */
}



/* 以下RWD */




@media screen and (max-width: 1280px) {


    .banner{
        left: 8%;
    }

    .banner img{
        width: 80%;
        height: 60%;
    }

    .pplInfo h4{
        font-size: 20px;
        display: inline-block;
    }

    .PnN img{
        width: 60px;
    }

    .timeInfo{
        display: inline-block;
        width: auto;
    }

    .timeInfo>p{
        display: none;
    }

    .thisGameScore{
        margin-left: 0;
    }

    .scoreStar{
        display: inline-block;
    }

    .thisGameTag{
        margin-right: 110px;
        font-size: 7px;
        padding: 5px 10px;
    }

    .scoreStar i{
        margin-left: 0;
    }

}

@media screen and (max-width: 900px) {
    
    body{
        display: flex;
        flex-direction: column;
    }

    .hotType{
        order: -1;
        max-width: 900px;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .hotType a{
        position: relative;
    }

    .hotType h3{
        display: none;
    }

    .hotType p{
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 1;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
    }

    .newTitle{
        display: block;
        max-width: 700px;
    }

    .hotType ul{
        height: 550px;
        flex-wrap: wrap;
    }

    .hotType li{
        background-size: cover;
        width: 20%;
        height: 50%;
        margin-right: 10px;
        flex-grow:initial;
        margin-bottom: 10px; 
        box-sizing: border-box;
        /* padding-bottom: 10px; */
    }

    .hotType li:nth-child(4){
        padding-bottom: 10px;
    }

    .hotType li:nth-child(6){
        padding-bottom: 10px;
    }

    .item1{
        order: -2;
    }

    .item2{
        order: -1;
    }

    .item3{
        display: none;
    }

    .item4{
        order: 2;
    }

    .item5{
        order: 0;
    }

    .item6{
        order: 1;
    }

    .eventTitle{
        display: none;
    }

    .events{
        padding-top: 50px;
        height: auto;
        order: -2;
    }

    .bannerSet{
        width: 700px;
        height: 350px;
        border-radius: 0;
    }

    .bannerSet img{
        border-radius: 0;

    }

    .banner{
        width: 700px;
        height: 350px;
        left: 0;
        border-radius: 0;

    }

    .banner img{
        width: 700px;
        height: 350px;
        border-radius: 0;
        /* object-fit: cover ; */
    }

    .b0{
        transform: translate3d(0px, 0px, 0px);
        z-index: 40;
    }
    
    .b1{
        transform: translate3d(-508px, 0px, 0px);
        z-index: 30;
        opacity: 0;
    }
    
    .b2{
        transform: translate3d(1000px, 500px, 0px);
        z-index: 20;
        opacity: 0;
    }
    
    .b3{
        transform: translate3d(469px, 0px, 0px);
        z-index: 10;
        opacity: 0;
    }

    .lbtn{
        position: absolute;
        left: 0px;
        top: 150px;
        z-index: 50;
    }
    
    .rbtn{
        position: absolute;
        right: 0px;
        top: 150px;
        z-index: 50;
    }

    
    .JoinUS{
        width: 700px;
    } 
    

    .joinTitle{
        max-width: 700px;
        border-radius: 0px;
    }

    .textBox{
        height: 100%;
        border-radius: 0px;
        padding: 20px;
    }

    .leftJoin, .rightBooking{
        width: 67%;
    }

    .joinBox{
        top: 0;
        right: -50%;
    }

    .bookBox{
        top: 0;
        left: -50%;
    }

    .textBox h2{
        font-size: 24px;
    }

    .textBox p{
        font-size: 16px;
    }

    .hotGames{
        width: 700px;
    } 

    .thisGameTag{
        width: 50%;
        /* display: none; */
    }

    .PnN img{
        width: 30px;
    }

    .pplInfo{
        margin-right: 15px;
    }

    .pplSay{
        /* float: left; */
        width: 85%;
        font-size: 12px;
    }

    .hotTitle, .joinTitle, .eventTitle, .newTitle{
        /* background-size: fill; */
        /* background-size: 70%; */
        font-size: 32px;
    }


}

@media screen and (max-width: 800px) {

    .eventTitle, .joinTitle, .hotTitle, .newTitle{
        width: 392px;
        background-size: 70%;
    }

    .postCard{
        display: block;
    }

    .postCard li{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10px;

    }

    .PnN{
        width: 150px;
    }

    .PnN img{
        width: 100px;
    }

    .thisGameTag{
        width: auto;
        margin-right: 10px;
    }

    .pplSay{
        width: 80%;
    }

    .hotType{
        padding-top: 0;
    }
}

@media screen and (max-width: 725px) {

    .eventTitle, .joinTitle, .hotTitle{
        width: 392px;
        background-size: 60%;
    }

    .bannerSet, .JnB, .hotGames{
        width: 392px;
    }

    .postCard li{
        width: 100%;
    }

    .banner{
        width: 392px;
        left: 0;
    }

    .banner img{
        object-fit: cover;
        width: 392px;
        height: 392px;
    }

    .JoinUS{
        margin-bottom: 0;
        width: 392px;
    }

    .textBox{
        width: 100%;
        height: 50%;
        border-radius: 0px;
        padding: 20px;
    }

    .joinBox, .bookBox{
        top:auto;
        bottom: 0%;
        right: 0;
        left: 0;
    }

   
    .leftJoin, .rightBooking{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .rMore{
        text-align: center;
        width: auto;
    }
}

@media screen and (max-width: 500px) {

    .bannerSet {
        margin-top: 20px;
    }

    .newTitle {
        margin-bottom: 10px;
    }

    .JnB {
        padding-top: 10px;
    }

    .hotTitle{
        margin-bottom: 10px;
    }

    .postCard li {
        width: 90%;
    }

    .thisGameTag{
        margin-right: 100px;
    }

    .hotType p{
        letter-spacing: 1px;
    }

}




